body{
  color: rgb(128, 91, 46);
  background-color: rgb(206, 178, 135);
}

main{
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

img{
  max-width: 250px;
  margin: 0 auto;
}

header{
  display: flex; /* so they appear next to each other */
  justify-content: space-between;
  margin-bottom: 40px;
}

header a{
  text-decoration: none;
  color: inherit;
}

header a.logo{
  font-weight: bolder;
  font-size: 20;
}

header nav{
  display: flex;
  gap: 15px;
}

div.post{
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
}

div.post div.texts h3{
  font-size: 1.2rem;
}