*{
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
  padding: 10px;
  max-width: 650px;
  margin: 0 auto;
}

img{
  max-width: 250px;
  margin: 0 auto;
}

header{
  display: flex; /* so they appear next to each other */
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

header a{
  text-decoration: none;
  color: inherit;
}

header a.logo{
  font-weight: bolder;
  font-size: 0.7cm;
  color: rgb(102, 84, 63);
  cursor: pointer;
  transition: all 0.3s ease;
}

header a.logo:hover{
  transform: scale(1.05);    
}

.button-header:hover{
  transform: scale(1.05);
}
header nav{
  display: flex;
  gap: 15px;
  color: rgb(102, 84, 63);
  font-weight: bold;
}

.button-hover {
  background-color: #9e774f;
  color: white;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-hover:hover {
  background-color: #966a44;  /* darker on hover */
  transform: scale(1.02);     /* grow slightly */
}

.button-home:hover{
  transform: scale(1.02);
}
div.post{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  div.post{
    grid-template-columns: .9fr 1.1fr;
  }
}

div.post div.texts h3{
  font-size: 1.2rem;
  margin: 0;
  color: #7a422c;
}

div.post div.texts a {
  text-decoration: none;
}

div.post p.info{
  margin: 0;
  color: #805847;
  font-size: 7rem;
  font-weight: bold;
  display: flex;
  gap: 5px;
}

div.post p.info a.author {
  color: #643320;
}

div.post p.review{
  margin: 6px 0;
  font-size: 15px;
  line-height: 1.4rem;
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

label {
  font-weight: 600;
  color: #814b36;
  padding: 0.5rem;
}

input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px;
  border: 0;
  background-color: rgb(236, 209, 174);
  border-radius: 5px;
}

button{
  width: 100%;
  display: block;
  background-color: #814b36 ;
  color: rgb(219, 209, 173);
  border: 0;
  border-radius: 5px;
  padding: 7px 0;
}

form.login h1, form.register h1{
  text-align: center;
}

div.post p.info{
  margin: 0;
  color: #814b36;
  font-size: .7rem;
  font-weight: bold;
}

/*VERTICAL NAV BAR*/
.vertical-navbar {
  height: 100vh;
  width: 110px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  background-color: #EFE4D2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  font-size: 15px;
  width: 100%;
  text-align: center;
  color: #814b36;
  text-decoration: none;
  transition: 0.3s;
}

.chat-nav-link{
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: #814b36;
  text-decoration: none;
  transition: 0.3s;
}

.nav-icon {
  width:25px;
  height:25px;
  margin-bottom: 5px;
}

/* GENRE FILTER */
.genre-filter {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.genre-button {
  display: flex;
  flex-direction: column;
  background: none;
  padding: 0px;
}

.genre-button:hover {
  transform: scale(1.05);
}

.genre-icon {
  width:100px;
  height: 100px;
  object-fit: contain;
}

.genre-label {
  margin-top: 5px;
  font-size: 10;
  color: #814b36;
}

.clear-filter-button {
  margin-top: 10px;
  border-radius: 999px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #7e5b50, #b9af82);
  background-size: 300% 300%;
  transition: 0.3s;
}

.clear-filter-button:hover{
  transform: scale(1.02);
}
/* SEARCH BAR */

.search-container {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  gap: 15px;
  width: 100%;            
}

.search-input-box {
  display: flex;
  align-items: center;
  background: #f7f1e8;
  border-radius: 999px;
  padding: 10px 16px;
  flex: 1;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  width: 100%;
  color: #333;
  margin: 0;
}

.search-icon {
  margin-right: 8px;
  font-size: 17px;
  color: gray;
}

.search-button {
  padding: 16px;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  font-size: 14px;
  max-width: 130px;
  color: white;
  background: linear-gradient(90deg, #805a4f, #cf9d7c);
  background-size: 300% 300%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.search-button:hover{
  transform: scale(1.02);
}


/*PROFILE PAGE*/
.profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  margin: 0;
}

.profile-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.bio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.edit-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.2s ease;
}

.edit-input:focus {
  border-color: #007bff;
  outline: none;
}

div.post-page div.image {
  max-height: 300px;
  display: flex;

}

div.post-page div.image img {
  object-fit: contain;
  object-position: center center;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 0.8rem;
  color: #997363;
}

div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  color: #997363;
  font-size: 0.8rem;
  font-weight: bold;
}

div.post-page div.content p {
  line-height: 1.5rem;
  color: #814b36;
}

div.edit-row {
  text-align: center;
  margin-top: 1rem;
}

a.edit-btn {
  background-color: #814b36;
  color: rgb(219, 209, 173);
  padding: 5px 15px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

a.edit-btn:hover {
  background-color: #815e3f;  
  transform: scale(1.02);
}
.genre-option {
  display: flex;
  align-items: center;
  padding: 0px;
  width: 20%;
  margin: 0px;
  font-weight: 400;
}

.genres-input {
  font-size: 17px;
  padding:15px;
  padding-left: 0px;
}

.rating-input {
  font-size: 17px;
  padding:15px;
  padding-left: 0px;
}

a svg{
  height: 18px;
}

/*LIST PAGE*/
.list-page {
  padding: 2rem;
}

.list-heading {
  text-align: center;
}

.book-icon {
  width: 170px;
  height: 170px;
  display: flex;
  margin-bottom: 0%;
}

.list-container {
  max-width: 600px;
  margin-top: 1rem;
}

.list-row {
  display: grid;
  grid-template-columns: auto 1fr;   
  align-items: center;
  column-gap: 1rem;                
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  background: #EFE4D2;
  border-radius: 0.5rem;
}

.list-text {
  white-space: nowrap;
}

.draft-row {
  display: flex;               
  align-items: center;       
  padding: 0.75rem 1rem;       
  border: 2px dashed #ccc;
  border-radius: 0.5rem;
  background: #fafafa;
  margin-bottom: 0.5rem;    
}

.draft-row input {
  flex: 1;               
  border: none;               
  margin: 0;                
  padding: 0.5rem;           
  outline: none;             
  font-size: 1rem;           
  box-sizing: border-box;     
  background: transparent;     
}

.list-checkbox {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: #61835d;  
  cursor: pointer;
}

/*CHAT BOX*/
.chat{
  position:fixed;
  top:0;
  right:0;
  height: 100vh;
  width:300px;
  background-color: #EFE4D2;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.open-chat {
  transform: translateX(0);
}

.chat-header{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.chat-content{
  padding: 10px;
  height: calc(100vh-60px);
  overflow-y: auto;
}

.close-chat-button{
  padding: 5px;
  width: 50px;
  background: none;
  border:none;
  font-size: 1.2rem;
  cursor: pointer;
}

.chatbox-messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap:0.5rem;
}

.chatbox-message{
  max-width: 70%;
  border-radius: 10px;
  padding: 6px 10px;
  font-size: 0.95rem;
  font-weight: 500;
}

.chatbox-message.user {
  align-self:flex-end;
  background-color: #cce5ff;
  text-align:right;
  line-height: 20px;
  word-break: break-word;
}

.chatbox-message.bot {
  align-self:flex-start;
  background-color: #e6e6e6;
  text-align:left;
}

.chatbox-input-container{
  display: flex;
  align-items: center;
  margin: 20px 0px;
  gap: 5px;
  width: 100%;
}

.chatbox-input {
  background: #f7f1e8;
  display: flex;
  align-items: center;
  border-radius: 999px;
  padding: 10px 20px;
  margin:0;
  flex: 1;
}

.chatbox-send-button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  font-size: 14px;
  max-width: 100px;
  color: white;
  background: linear-gradient(90deg, #805a4f, #cf9d7c);
  background-size: 300% 300%;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}